<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../reset.css" />
    <link rel="stylesheet" href="./book-details-page.css" />

    <title>Livro</title>
  </head>

  <body>
    <div id="header">
      <div id="back-button" onclick="returnPage()">
        <img src="../images/back-icon.png" alt="" srcset="" />
        <div id="back-text">Voltar</div>
      </div>

      <div id="book-operations-buttons">
        <div id="edit-button">Editar</div>
        <div id="delete-button">Excluir</div>
      </div>
    </div>

    <div id="book-area">
      <div id="book-informations">
        <div id="book-title"></div>

        <div id="publication-informations">
          <div id="book-author"></div>
          <div id="publication-date"></div>
        </div>

        <div id="book-description"></div>
      </div>

      <div id="book-image"></div>
    </div>
  </body>

  <script src="../client/Book.js"></script>
  <script src="./bookDetailsPage.js"></script>
</html>
