<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../reset.css" />
    <link rel="stylesheet" href="./book-details-page.css" />

    <title>Livro</title>
  </head>

  <body>
    <div id="header">
      <div id="back-button" onclick="returnPage()">
        <img src="../images/back-icon.png" alt="" srcset="" />
        <div id="back-text">Voltar</div>
      </div>

      <div id="book-operations-buttons">
        <div id="edit-button" onclick="openModal(modalElement)">Editar</div>
        <div id="delete-button">Excluir</div>
      </div>
    </div>

    <div id="book-area">
      <div id="book-informations">
        <div id="book-title"></div>

        <div id="publication-informations">
          <div id="book-author"></div>
          <div id="publication-date"></div>
        </div>

        <div id="book-description"></div>
      </div>

      <div id="book-image"></div>
    </div>

    <div id="edit-book-form">
      <div id="form-title">Editar livro</div>

      <div id="first-section-form">
        <div id="text-inputs">
          <input id="title-input" type="text" placeholder="Título" />
          <input id="author-input" type="text" placeholder="Autor" />
          <input
            id="publication-date-input"
            type="text"
            placeholder="Data de publicação"
          />
        </div>

        <div id="image-input">
          <div id="edit-book-image"><img src="../images/image-icon.png" /></div>
          <label for="edit-image-input" id="edit-image-message">
            Escolher imagem
          </label>
        </div>

        <input id="edit-image-input" type="file" accept="image/*" />
      </div>

      <div id="second-section-form">
        <textarea placeholder="Descrição" id="description-input"></textarea>
      </div>

      <div id="form-buttons">
        <button id="cancel-button" onclick="closeModal(modalElement)">
          Cancelar
        </button>

        <button id="save-button" onclick="validateBook()">Salvar</button>
      </div>
    </div>
  </body>

  <script src="../client/Book.js"></script>
  <script src="./bookDetailsPage.js"></script>
</html>
